.card{
    width: 200px;
    height:100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    color:rgb(239, 224, 202);
    box-shadow: 10px 10px 20px 1px rgb(93, 93, 93);
    font-weight: 600;
}
.icon{
    font-size: 50px;
    width: fit-content;
    height: fit-content;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: rgb(2, 174, 2);
}