<div>
    <!--admin details  -->
    <div class="profile">
        <img width="170px" src="https://logodix.com/logo/1707081.png"
            alt="adminlogo">
        <h3>Admin</h3>
        <h4>Admin@luminar.co.in</h4>
    </div>
    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="employees">Employees</a>
        <a routerLink="gallery">Gallery</a>
    </div>

    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="contacts"><mat-icon>contacts</mat-icon> Contacts
        </a>
        <a routerLink="leads"><mat-icon>leaderboard</mat-icon> Leads
        </a>
    </div>
</div>

