<!-- card -->
<div class="cards">
    <!-- card 1 -->
    <mat-card style="border-radius: 10px;">
        <app-card
        bg = "orange"
        icon = "person"
        description = "Students"
        count="50"
        ></app-card>
    </mat-card>
    <!-- card 2 -->
    <mat-card style="border-radius: 10px;">
        <app-card
        bg = "red"
        icon = "home"
        description = "Institutions"
        count="800"
        ></app-card>
    </mat-card>
     <!-- card 3 -->
    <mat-card style="border-radius: 10px;">
        <app-card
        bg = "blue"
        icon = "groups"
        description = "Employees"
        count="500"
        ></app-card>
    </mat-card>
     <!-- card 4 -->
    <mat-card style="border-radius: 10px;">
        <app-card
        bg = "green"
        icon = "dashboard"
        description = "Placements"
        count="2000"
        ></app-card>
    </mat-card>
      
    
</div>

<!-- area chart -->
<div class="area">
    <app-area-chart></app-area-chart>
</div>

<!-- table -->
<div class="tablepie">
    <div class="table">
        <app-table></app-table>
    </div>
    
    <!-- pie -->
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>

